<br>
<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Lokal Hack Day</span>
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>

      <br>

      <div class="chip">
        #DMG
      </div>
      <div class="chip">
        #HSLU
      </div>
      <div class="chip">
        #MLH
      </div>
      <div class="chip">
        #Rotkreuz
      </div>
    </div>
    <div class="card-action">
      <a href="#">Agree</a>
      <a href="#">Disagree</a>
        <a href="#">Reply</a>
      </div>
    </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Bilder an die leeren Wände</span>
      <p>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam era</p>

      <br>

      <div class="chip">
        #Campus
      </div>
      <div class="chip">
        #Rotkreuz
      </div>
    </div>
    <div class="card-action">
      <a href="#">Agree</a>
      <a href="#">Disagree</a>
      <a href="#">Reply</a>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Moving back to horw...</span>
      <p>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ame aliquyam era</p>

      <br>

      <div class="chip">
        #BackToSchool
      </div>
      <div class="chip">
        #Random
      </div>
      <div class="chip">
        #Like4Like
      </div>
      <div class="chip">
        #Horw
      </div>
    </div>
    <div class="card-action">
      <a href="#">Agree</a>
      <a href="#">Disagree</a>
      <a href="#">Reply</a>
    </div>
  </div>
</div>
