<div class="row">
  <div class="col s12" *ngFor="let feedback of fresh_list | async ">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{feedback.title}}</span>
        <p>{{feedback.text}}</p>
        <br>

        <div class="chip">
          #DMG
        </div>
        <div class="chip">
          #HSLU
        </div>
        <div class="chip">
          #MLH
        </div>
        <div class="chip">
          #Rotkreuz
        </div>


        <div class="card-action">
          <a href="#">Agree</a>
          <a href="#">Disagree</a>
          <a href="#">Reply</a>
        </div>
      </div>
    </div>

  </div>
</div>
